@charset "UTF-8";

/*
COLORS
================================================ */
:root {
    --offwhite: rgb(229,229,229);
    --offblack: rgb(33,33,33);
}



/*
GENERAL STYLING
================================================ */
html {
    font-size: 100%
}
body {
	color: var(--offblack);
    font-family: Palatino, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
}

h1,
h2,
p {
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: 0.08rem;
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.0rem;
    
}

p {
    font-size: 0.8rem;
}

.white-font {
    color: var(--offwhite);
}

.black-font {
    color: var(--offblack);
}
.story-description {
    margin-bottom: -30vh;
}

.story-image {
    margin-top: -30vh;
}

.fadein {
    opacity : 0;
    transform : translate(0, 50px);
    transition:all 1s;
}
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}
/*
COMMON
================================================ */
/* Layout */
.container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

.story {
    height: 80vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.story p {
    text-shadow: 0px 0px 4px rgba(33, 33, 33, 0.3);
}

.bg-white p {
    font-weight: 400;
}


img,
source {
    width: 90%;
    height: auto;
    max-width: 1000px;
}


.story img,
.stpry source {
    -webkit-filter:drop-shadow(0px 0px 4px rgba(33, 33, 33, 0.3));
    -moz-filter:drop-shadow(0px 0px 4px rgba(33, 33, 33, 0.3));
    -ms-filter:drop-shadow(0px 0px 4px rgba(33, 33, 33, 0.3));
    filter:drop-shadow(0px 0px 4px rgba(33, 33, 33, 0.3));
}


/* -------------------- */
/* header
/* -------------------- */
    .header{
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: rgba(33,33,33,0.5);
        color: var(--offwhite);
        height:40px;
        width: 40px;
        border-radius: 5%;
        position: fixed;
        display: flex;
        justify-content:center;
        align-items: center;
        z-index: 1;
    }

    @media screen and (min-width: 768px) {
        .header {
            right: 15px;
            top: 15px;
            height:50px;
            width: 50px;
        }
    }
    @media screen and (min-width: 1024px) {
        .header {
            right: 25px;
            top: 25px;
            height:60px;
            width: 60px;
        }
    }

    
    .burger-btn {
        display: block;
        width: 40px;
        height: 40px;
        position: relative;
        z-index: 3;
      }

      @media screen and (min-width: 768px) {
        .burger-btn {
            width: 40px;
            height: 40px;
    }
}

      @media screen and (min-width: 1024px) {
        .burger-btn {
            width: 40px;
            height: 40px;
    }
}
      .bar{
        width: 20px;
        height: 2px;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
      }

      @media screen and (min-width: 1024px) {
        .bar {
            width: 25px;
            height: 2.5px;
        }
    }

      @media screen and (min-width: 1024px) {
        .bar {
            width: 30px;
            height: 3px;
        }
    }

      .bar_top{
        top: 10px;
      }
      .bar_mid{
        top: 50%;
        transform: translate(-50%,-50%);
      }
      .bar_bottom{
        bottom: 10px;
      }

      .burger-btn.close .bar_top{
        transform: translate(-50%,10px) rotate(45deg);
        transition: transform .3s;
      }
      .burger-btn.close .bar_mid{
        opacity: 0;
        transition: opacity .3s;
      }
      .burger-btn.close .bar_bottom{
        transform: translate(-50%,-8px) rotate(-45deg);
        transition: transform .3s;
      }
      .nav-wrapper{
        display: none;
        width: 100vw;
        height: 40vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;/*キービジュアルと.btn_triggerとの重なりの前後関係を調整*/
       }
       .header-nav{
          width: 100%;
          height: 100%;
          background-color: rgba(33,33,33,0.7);
          z-index: 2;
        }
       .header-nav .nav-list{
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          text-align: center;
        }
        .header-nav .nav-item{
          margin-right: 0;
          margin-top: 25px;
        }
        .header-nav .nav-item:last-child {
            margin-bottom: 25px;
        }
  


/*
title-page
================================================ */
#title-page {
    justify-content: center;
}

#title-page img,
#title-page source {
    width: auto;
    height: 20vh;
}

#title-page h1 {
    margin-top: 2vh;
}

/*
trailer-page
================================================ */
#trailer-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 155vh;
}

#trailer-page .wrapper {
    margin-top: -45vh;
}

#trailer-page h2 {
    margin: 8vh auto;
}

video {
    object-fit: cover;
    object-position: center top;
    width: 90vw;
    height: auto;
    max-width: 1000px;
}

#trailer-page a {
    display: inline-block;
    margin-top: 1vh;
    font-size: 0.4rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-decoration: underline;
    align-self: flex-end;
}

#trailer-page a:hover {
    opacity: 0.75;
}

#trailer-page a::after {
    content: '\f08e';
    font-family: FontAwesome; 

  }

/*
story-1
================================================ */
.story-1 p {
    font-size: 1.0rem;
}

.narrow-section {
    height: 60vh;
}

.narrow-section .story-description {
    margin-bottom: 0;
}

/*
story-4
================================================ */

.flex-8 {
    height: 125vh;
}

.story-4 .story-image {
    margin-top: -60vh;
}

/*
last-story
================================================ */

.last-story-description {
    height: 50vh;
}

.last-story-description p {
    text-shadow: 0px 0px 4px rgba(229, 229, 229, 0.3);
}

.last-story-description img,
.last-story-description source {
    -webkit-filter:drop-shadow(0px 0px 4px rgba(229, 229, 229, 0.3));
    -moz-filter:drop-shadow(0px 0px 4px rgba(229, 229, 229, 0.3));
    -ms-filter:drop-shadow(0px 0px 4px rgba(229, 229, 229, 0.3));
    filter:drop-shadow(0px 0px 4px rgba(229, 229, 229, 0.3));
}

#adjust-position {
    margin-bottom: 0;
}

.title-and-booth h2 {
    margin-bottom: 2vh;
}

.title-and-booth h2 span {
    font-size: 110%;
}

.title-and-booth .booth {
    text-align: center;
    margin-top: 10vh;
}
.title-and-booth a {
    display: inline-block;
    margin-top: 5vh;
    font-size: 1rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.title-and-booth a:hover {
    opacity: 0.75;
}

.booth img,
.booth source {
    margin-top: 2vh;
    height: 8vh;
    width: auto;
}




/*
author-page
================================================ */
#author-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.author-logo {
    width: 30vw;
    height: 30vw;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.author-logo img,
.author-logo source {
    width: 15vw;
    height: auto;
}

.author-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.author-profile-font {
    margin: 2.5vh 0;
    font-size: 0.6rem;
}

.author-profile-font span {
    display: inline-block;
    margin: 1vh auto;
    font-size: 1.6rem;
    text-indent: 1.0rem;
}

.credit {
    position: absolute;
    bottom: 2%;
}

.credit-font {
    font-family: highgate, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.6dyrem;
}

.contact a {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact a::before {
    margin-right: 1rem;
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
    color: var(--offwhite);
    display: inline-block;
    font-family: FontAwesome;
    font-size: 2rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

 .contact a[href*="contact"]::before        { content: "\f0e0"; }


/*
sns
================================================ */

.sns-links {
    list-style: none;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0;
  }
  .sns-links li {
    float: left;
    margin: 0 1rem;
    padding: 0;
  }
  .sns-links li a::before {
    background-color: #eee;
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
    color: #333;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1rem;
    height: 2.5rem; /* Button height */
    line-height :2.5rem; /* Button height */
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;
    width: 2.5rem; /* Button width */
  }

  .sns-links li a:visited::before {
    background-color: #eee;
    color: #333;
  }

  .sns-links li a:hover::before {
    background-color: #333;
    color: #fff;
  }

  .sns-links li a[href*="youtube.com"]::before        { content: "\f16a"; }
  .sns-links li a[href*="instagram.com"]::before      { content: "\f16d"; }
  .sns-links li a[href*="twitter.com"]::before        { content: "\f099"; }




/*
背景
================================================ */

.one {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 1.5s ease 0s;
    z-index: -1;
}

#door-anime {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;

    }

.webp #door-anime  {
    background-image: url("/img/merve_anime.webp");
}

.no-webp #door-anime {
    background-image: url("/img/merve_anime-alt.jpg");
}

.show .bg {
    opacity: 1;
}

.bg._01 {
    background-size: contain;
    background-repeat: repeat;
}

.webp .bg._01 {
    background-image: url("/img/background-black.webp");
}

.no-webp .bg._01 {
    background-image: url("/img/background-black.jpg");
}

.bg._02 {
    background-size: contain;
    background-repeat: repeat;
}

.webp .bg._02 {
    background-image: url("/img/background-white.webp");
}

.no-webp .bg._02 {
    background-image: url("/img/background-white.jpg");
}

/*
タブレット
================================================ */
@media screen and (min-width: 768px) {

    h1,h2,p {
    text-align: center;
    line-height: 2rem;
    letter-spacing: 0.10rem;
    } 

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.7rem;
    }
    
    p {
        font-size: 1.4rem;
    } 

    .story-1 p {
        font-size: 1.6rem;
    }

    .booth a {
        margin: 15vh o;
        font-size: 1.5rem;
    }
    
    .booth a span {
        font-size: 3rem;
    }

    .author-profile-font {
        margin: 4vh 0;
        font-size: 1rem;
    }
    
    .author-profile-font span {
        margin: 1vh auto;
        font-size: 2rem;
        letter-spacing: 1.6rem;
        text-indent: 1.6rem;
    }
    
    .credit {
        margin-top: 8vh;
    }
    
    .credit-font {
        font-size: 0.8rem;
    }




    .sns-links li a::before {
        -webkit-border-radius: 0.3rem;
        border-radius: 0.3rem;
        font-size: 1.25rem;
        height: 3.125rem; /* Button height */
        line-height : 3.125rem; /* Button height */
        width: 3.125rem; /* Button width */
      }

    #page-top {
        min-width: 4rem;
        min-height: 4rem;
        line-height: 4rem;
    }

    #trailer-page a {
        font-size: 0.8rem;
    }

    #title-page h1 {
        margin-top: 4vh;
    }

    
}

/*
PC
================================================ */

@media screen and (min-width: 1024px) {
    section {
        height: 120vh;
    }

    .flex-row section {
        height: 150vh;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flex-row section {
        width: 50%;
    }

    .flex-1 {order: 1;}
    .flex-2 {order: 2;}
    .flex-3 {order: 4;}
    .flex-4 {order: 3;}
    .flex-5 {order: 5;}
    .flex-6 {order: 6;}
    .flex-7 {order: 8;}
    .flex-8 {order: 7;}

    .flex-1,
    .flex-4,
    .flex-5,
    .flex-8  {
        align-items: flex-end;
    }

    .flex-1 .wrapper,
    .flex-5 .wrapper {
        margin-right: 8vw;
    }


    .flex-2,
    .flex-3,
    .flex-6,
    .flex-7  {
        align-items: flex-start;
    }

    .flex-3 .wrapper,
    .flex-7 .wrapper {
        margin-left: 8vw;
    }


    h1,h2,p {
        line-height: 2.6rem;
        letter-spacing: 0.12rem;
        } 

    h1 {
        font-size: 2.8rem;
    }
    
    h2 {
        font-size: 2.2rem;
    }
    
    p {
        font-size: 1.6rem;
    }

    img,
    source {
        width: 40vw;
    }
    
    video {
        width: 75vw;
        height: auto;
    }

    .author-logo {
        width: 10vw;
        height: 10vw;
    
    }
    .author-logo img,
    .author-logo source {
        width: 5vw;
    }

    .story p {
        margin: 2vh auto;
    }

    #trailer-page a {
        font-size: 1.0rem;
    }

    .author-profile-font {
        margin: 4vh 0;
        font-size: 1.2rem;
    }
    
    .author-profile-font span {
        margin: 1vh auto;
        font-size: 2.4rem;
        letter-spacing: 1.8rem;
        text-indent: 1.8rem;
    }
    
    .credit {
        margin-top: 8vh;
    }
    
    .credit-font {
        font-size: 1.0rem;
    }

    #title-page h1 {
        margin-top: 6vh;
    }

    .story-description {
        margin-bottom: 0;
    }
    
    .story-image {
        margin-top: 0;
    }

    .story-4 .story-image {
        margin-top: 0;
    }

    #door-anime img,
    #door-anime source {
        max-width: none;
    }
    
}


/* お問い合わせページ 、THANKSページ*/

.contact-page { 
    height: auto;
    min-height: 100vh;
    background-image: url(/img/background-white.jpg);
    background-size: contain;
    font-family: YuMincho, 'Yu Mincho', serif;
}

h1 {
    margin: 15vh;
    font-size: 2rem;
}
@media screen and (max-width: 480px) {
    h1 {
        margin: 7vh;
        font-size: 1.5rem;
    }
}

.formrun {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}
  
.form-item {
    border-top: 1px solid #ddd;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 480px) {
.form-item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
    }
}

.form-item:last-child {
    border-bottom: 1px solid #ddd;
}

.form-item-label {
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
}
@media screen and (max-width: 480px) {
.form-item-label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
    }
}

.form-item-label.isMsg {
    margin-top: 8px;
    margin-bottom: auto;
}
@media screen and (max-width: 480px) {
.form-item-label.isMsg {
    margin-top: 0;
    }
}

.form-item-label-required {
    border-radius: 6px;
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #c20c33;
    color: #fff;
    font-size: 14px;
}
@media screen and (max-width: 480px) {
    .form-item-label-required {
        border-radius: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        width: 32px;
        font-size: 10px;
    }
}

.form-item-input {
border: 1px solid #ddd;
border-radius: 6px;
margin-left: 40px;
padding-left: 1em;
padding-right: 1em;
height: 48px;
flex: 1;
width: 100%;
max-width: 410px;
background: #eaedf2;
font-size: 18px;
}

@media screen and (max-width: 480px) {
.form-item-input {
    margin-left: 0;
    margin-top: 18px;
    width: 60vw;
    height: 40px;
    flex: inherit;
    font-size: 15px;
    }
}

.form-item-textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 216px;
    width: 100%;
    max-width: 410px;
    background: #eaedf2;
    font-size: 18px;
}
@media screen and (max-width: 480px) {
    .form-item-textarea {
        margin-top: 18px;
        margin-left: 0;
        width: 90vw;
        height: 200px;
        flex: inherit;
        font-size: 15px;
    }
}

.form-btn {
    border-radius: 6px;
    margin-top: 10vh;
    margin-bottom: 20vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    letter-spacing: 0.05em;
    background: rgb(102,102,102);
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
@media screen and (max-width: 480px) {
    .form-btn {
        margin-top: 5vh;
        margin-bottom: 10vh;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 160px;
        font-size: 16px;
    }
}

.input-group {
    display: flex;
    flex-direction: column;
}
.smaller {
    font-size: 70%;
}

.error-message {
    margin-left: 40px;
    margin-top: 8px;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    font-size: 14px;
    color: #c20c33;
}
    
@media screen and (max-width: 480px) {
.error-message {
    margin-left: 0;
    margin-top: 4px;
    flex: inherit;
    font-size: 10px;
    }
}

.to-top {
    display: inline-block;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-weight: bolder;
    text-decoration: underline;
}

.thanks-page {
    min-height: 100vh;
    background-image: url(/img/background-white.jpg);
    background-size: contain;
    color: var(--offblack);
    display: flex;
    justify-content: center;
    align-items: center;
}

.thanks-page .wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thanks-page h2 {
    font-weight: bold;
    font-style: normal;
    font-size: 1.8rem;
}

@media screen and (max-width: 480px) {
    .thanks-page .wrapper h2 {
        font-size: 1.5rem
    }
}

.thanks-page .wrapper p {
    margin-top: 5vh;
    font-size: 1.2rem;
}

@media screen and (max-width: 480px) {
    .thanks-page .wrapper p {
        font-size: 1.0rem;
    }
}

.thanks-page .wrapper p span {
    font-size: 80%;
}

.thanks-page .wrapper p span a {
    color: blue;
    text-decoration: underline;
}

.thanks-page .wrapper img {
    width: 15vw;
    height: 15vh;
}

@media screen and (max-width: 480px) {
    .thanks-page .wrapper img  {
        width: 30vw;
        height: 10vh;
    }
}
